<div class="inside-scroll-ribbon">

	<div class="scroll-element" data-anchor="home" style="margin-bottom: 50px;">
		<div class="h-ribbon">
			<div class="inside-scroll-element">
				<div class="section-label">Computational Science and Engineering</div>
				<div class="logo-park">
					<img src="imgs/logo-uni-ulm.svg">
					<img src="imgs/logo-thu.svg">
				</div>
			</div>
		</div>

		<div class="inside-scroll-element">
			<div class="headline" style="margin-top: 148px;">
				<h1>Wie kann Mathematik</h1>
				<h1>eine Brücke vor dem</h1>
				<h1>Einstürzen bewahren?</h1>
			</div>
		</div>
	</div>

	<div class="scroll-element full-screen" data-anchor="intro">

		<div class="inside-scroll-element">
			<div class="scroll-col two-cols">
				<div class="scroll-element-content intro">
					<p>
						Du möchtest Simulations-ExpertIn werden und Probleme in den Ingenieur&shy;wissenschaften, der Medizin oder den Natur&shy;wissenschaften mit Hilfe von Mathematik und Informatik lösen? Dann bist du hier richtig. Denn genau dies wird im Studiengang Computational Science and Engineering (CSE) gemacht.
					</p>
					<p>
						In vielen Bereichen vernetzen sich die technische und die digitale Welt immer mehr. Um diese komplexen Strukturen überblicken zu können und weil die Durchführung von analogen Experimenten oftmals zu teuer oder nicht möglich ist, entstehen innovative Produkte immer häufiger mit Hilfe ausgeklügelter Rechnersysteme, durch mathematische Modellierung und Simulation.
					</p>
				</div>
			</div>
		</div>
	</div>

	<div class="scroll-element footer-anchor full-screen" data-anchor="footer">
		<div class="inside-scroll-element">
			<div class="scroll-col engineering"></div>
			<div class="scroll-col mathematics"></div>
			<div class="scroll-col computer-science"></div>
		</div>
	</div>

	<div class="copy-wrapper">
		<div class="scroll-element full-screen engineering-anchor" data-anchor="engineering" style="margin-bottom: -90px;">
			<div class="inside-scroll-element">
				<div class="scroll-col with-content">
					<div class="scroll-element-content" data-scrollto="simulation">
						<div class="circle-wrapper"><div class="circle"></div></div>
						<div class="icon"><img src="imgs/icons/engineering.svg"></div>
						<div class="line"></div>

						<div class="section-label">Ingenieur- und Naturwissenschaften</div>
						<div class="text-box">
							<p>
								Wissenschaftler formulieren Modelle welche unsere Welt beschreiben. Um diese Formulierungen zu verstehen und einsetzen zu können, braucht es ein breites Wissen in Ingenieur- und Naturwissen&shy;schaften. So können auch interdisziplinäre Zusammenhänge erkannt und analysiert werden.
								<!--
								Wissenschaften beschreiben unsere Welt durch die Formulierung von Modellen. Um die Sprache und die Grundlagen der Ingenieur- und Naturwissenschaften zu verstehen und damit umgehen zu können, benötigen Sie das entsprechende Wissen aus diesem Bereich. In CSE lernen Sie, auch interdisziplinäre Zusammenhänge zu erkennen und Problemstellungen zu lösen.
								-->
							</p>
							<div class="more">
								<svg width="80" height="25">
									<path d="M79,0.75 L40,24.25 L1,0.75" fill="transparent" stroke="#000000" stroke-width="1"/>
								</svg><br>
								mehr erfahren
							</div>
						</div>
					</div>
				</div>
				<div class="headline cse-is">
					<h1 class="desktop-only">CSE, dahinter verstecken sich:</h1>
					<h1 class="mobile-only">CSE, dahinter stecken:</h1>
				</div>
			</div>
		</div>
	</div>
	<div class="copy-wrapper">
		<div class="scroll-element full-screen mathematics-anchor" data-anchor="mathematics" style="margin-bottom: -90px;">
			<div class="inside-scroll-element">
				<div class="scroll-col"></div>
				<div class="scroll-col with-content">
					<div class="scroll-element-content" data-scrollto="LGS">
						<div class="circle-wrapper"><div class="circle"></div></div>
						<div class="icon"><img src="imgs/icons/math.svg"></div>
						<div class="line"></div>

						<div class="section-label">Mathematik</div>
						<div class="text-box">
							<p>
								Fundierte Kenntnisse in der Mathematik sind notwendig, um die komplexen Vorgänge in realen dynamischen Systemen beschreiben zu können. So können mathematische Modelle von der Wirklichkeit erstellt und analysiert werden. Simulationen sind virtuelle Experimente an diesen mathematischen Modellen. Für Berechnungen werden numerische Algorithmen eingesetzt, deren Verständnis für die Analyse der Simulationsergebnisse wichtig ist.
							</p>
							<div class="more">
								<svg width="80" height="25">
									<path d="M79,0.75 L40,24.25 L1,0.75" fill="transparent" stroke="#000000" stroke-width="1"/>
								</svg><br>
								mehr erfahren
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="copy-wrapper">
		<div class="scroll-element full-screen computer-science-anchor" data-anchor="computer-science" style="margin-bottom: -90px;">
			<div class="inside-scroll-element">
				<div class="scroll-col"></div>
				<div class="scroll-col"></div>
				<div class="scroll-col with-content">
					<div class="scroll-element-content" data-scrollto="implementation">
						<div class="circle-wrapper"><div class="circle"></div></div>
						<div class="icon"><img src="imgs/icons/computer.svg" width="35"></div>

						<div class="section-label">Informatik</div>
						<div class="text-box">
							<p>
								Sei es für numerische Simulationen oder zur Analyse enormer Datenmengen, Computer sind für die Berechnung technischer oder wissenschaftlicher Probleme nicht mehr wegzudenken. Daher sind Kenntnisse moderner Simulationstools und effizienter Algorithmen wie auch ihrer Programmierung gefragt.
							</p>
							<div class="more">
								<svg width="80" height="25">
									<path d="M79,0.75 L40,24.25 L1,0.75" fill="transparent" stroke="#000000" stroke-width="1"/>
								</svg><br>
								mehr erfahren
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="scroll-element full-screen desktop-only" data-anchor="intro-end" style="padding-bottom: 300px;">
		<div class="inside-scroll-element">
		</div>
	</div>


	<div class="scroll-element push-next" data-anchor="simulation">
		<div class="inside-scroll-element">

			<div class="scroll-col"></div>

			<div class="scroll-col">
				<h2>Hält die Müngstener Brücke einem ICE stand?</h2>
				<div class="scroll-element-content">
					<p>
						...
					</p>
					</p>
				</div>
			</div>

			<div class="scroll-col">
				<h2 class="hidden">&nbsp;<br>&nbsp;<br>&nbsp;</h2>
				<div class="scroll-element-content gray">
					<h3>Das Hookesche Gesetzt</h3>
					<p>
						Die Spannung <span class="formula">&sigma;</span> beschreibt das Verhältnis einer Kraft <span class="formula">F</span> zu einer Fläche <span class="formula">A</span>.
					</p>
					<p class="formula">
						&sigma; = F/A
					</p>

					<p>
						Die einwirkende Kraft bewirkt eine Formänderung. Im Falle eines eindimensionalen Stabes kann diese Formänderung durch eine Länge <span class="formula">&Delta;l</span> beschrieben werden. Das Verhältnis zur ursprünglichen Länge des Stabes <span class="formula">l<sub>0</sub> ist die Dehnung <span class="formula">&epsilon;</span>. 
					</p>
					<p class="formula">
						&epsilon; = &Delta;l / l<sub>0</sub>
					</p>

					<p>
						Der lineare Zusammenhang zwischen der Spannung <span class="formula">&sigma;</span>
						und der Dehnung <span class="formula">&epsilon;</span> wird durch das
						Elastizitätsmodul <span class="formula">E</span> beschrieben.
					</p>
					<p class="formula">
						&sigma; = E &#8729; &epsilon;
					</p>
				</div>
			</div>
		</div>
	</div>

	<div class="scroll-element push-next" data-anchor="balance">
		<div class="inside-scroll-element">

			<div class="scroll-col"></div>

			<div class="scroll-col">
				<h2>Statik: Alle Kräfte sind im Gleichgewicht</h2>
				<div class="scroll-element-content">
					<p>
						Summe alle Kräfte in einem Knoten
						<span class="formula">&sum;F<sub>i</sub> = 0</span>
					</p>
					<p>
						Anhand eines einfachen Fachwerkes wird erklärt wie ein Gleichungsystem (eine Gleichung pro Knoten) hergeleitet werden kann...
					</p>
				</div>
			</div>

			<div class="scroll-col">
				<h2 class="hidden">&nbsp;<br>&nbsp;<br>&nbsp;</h2>
				<div class="scroll-element-content gray">
					<h3>Kraft</h3>
					<p>
						<span class="formula">F = m &#8729; a</span><br>
						<span class="formula">F<sub>x</sub> = cos(&alpha;) &#8729; F</span><br>
						<span class="formula">F<sub>y</sub> = sin(&alpha;) &#8729; F</span><br>
					</p>

					<h3>Festlager / Loslager</h3>
					<p>
						...
					</p>

					<h3>Statische Bestimmtheit</h3>
					<p>
						Anzahl der Stäbe <span class="formula">s</span><br>
						Anzahl unabhängige Auflagerkomponenten <span class="formula">a</span><br>
						Anzahl der Knoten <span class="formula">k</span><br>
						<span class="formula">s + a = 2k</span>
					</p>
				</div>
			</div>
		</div>
	</div>


	<div class="scroll-element push-next" data-anchor="LGS">
		<div class="inside-scroll-element">

			<div class="scroll-col">
				<h2>Lineare Gleichungssysteme</h2>
				<div class="scroll-element-content">
					<p>
						Von den Gleichungen zur Matrix-Schreibweise...
					</p>
					<p>
						Gaußsche Eliminationsverfahren durch 
Matrizenmultiplikation...
					</p>
				</div>
			</div>

			<div class="scroll-col"></div>

			<div class="scroll-col">
				<h2 class="hidden">&nbsp;</h2>
				<div class="scroll-element-content gray">
					<h3>Matrix Multiplikation</h3>
					<p>
						Matrix und Vektor: <span class="formula">A &#8729; x = y &rArr; y<sub>i</sub> = &sum; a<sub>ij</sub> &#8729; x<sub>j</sub></span><br>
						Matrix und Matrix: <span class="formula">A &#8729; B = C &rArr; c<sub>i</sub> = &sum; a<sub>ij</sub> &#8729; b<sub>jk</sub></span><br>
					</p>

					<h3>Verkettung</h3>
					<p>
						<span class="formula">A<sub>n</sub> &#8729; ... &#8729; A<sub>1</sub> = A
					</p>
				</div>
			</div>

		</div>
	</div>

	<div class="scroll-element push-next" data-anchor="implementation">
		<div class="inside-scroll-element">
			
			<div class="scroll-col">
				<h2>Implementation</h2>
				<div class="scroll-element-content">
					<p>
						Einfache Implementation der Gauß Elimination in Pseudocode...
					</p>
				</div>
			</div>


			<div class="scroll-col">
				<h2 class="hidden">&nbsp;</h2>
				<div class="scroll-element-content gray">
					<h3>Kleines Pseudocode-Programmierer-Glossar</h3>
					<p>
						Ein Programmcode wird oft als Pseudocode dokumentiert. Die dabei verwendete Syntax entspricht nicht einer spezifischen Programmiersprache, daher kann der Code so  nicht direkt von einer Maschine interpretiert werden. Er dient zur Beschreibung der Programmstruktur unabhängig der verwendeten Technologie und kann als Grundlage zur Implementation in jeder beliebigen Programmiersprache verwendet werden.
					</p>
					<table class="glossary">
						<tr>
							<td class="code">Array</td>
							<td>
								Eine einfache Datenstruktur, in welcher Daten als eine Liste abgebildet werden. Jeder Listeneintrag enthält einen eindeutigen Index.
							</td>
						</tr>
						<tr>
							<td class="code">
								if
							</td>
							<td>
								Dadurch kann im Code mittels einer Bedingung eine Verzweigung erzeugt werden. Ein Teil des Codes wird ausgeführt falls die Bedingung wahr ist, der <span class="code">else</span>-Teil wird ausgeführt falls die Bedingung nicht zutrifft.
							</td>
						</tr>
						<tr>
							<td class="code">
								for
							</td>
							<td>
								Die <span class="code">for</span>-Schleife wird genutzt um Code mehrfach auszuführen. Dabei wird ein Index kontinuierlich hochgezählt.
							</td>
						</tr>
						<tr>
							<td class="code">
								while
							</td>
							<td>
								Programmcode innerhalb der <span class="code">while</span>-Schleife wird solange die Bedingung wahr ist ausgeführt. 
							</td>
						</tr>
						<tr>
							<td class="code">
								%
							</td>
							<td>
								Der Modulo-Operator beschreibt eine Division mit Rest. So ist z.B. das Ergebnis von <span class="code">17%6</span> die Fünf, da <span class="formula">6 &#8729; 2 + 5 = 17</span> ist.
							</td>
						</tr>
					</table>
				</div>
			</div>

		</div>
	</div>

		
	

	<div class="scroll-element do-events" data-anchor="the-end">
			
		<img src="imgs/cse_studenten.jpg" style="width: 100%; float: left;">

		<div class="black-ribbon">
			<div class="inside-scroll-element">
				<h2>Mehr erfahren und CSE studieren?</h2>
				<p>
					Informieren Sie sich auf der Webseite<br>
					der Technischen Hochschule Ulm:
				</p>
				<p>
					<a href="https://www.thu.de/cse" target="_blank">
						www.thu.de/cse
					</a>
				</p>
			</div>
		</div>
		<div class="white-ribbon">
			<div class="inside-scroll-element logo-park-footer">
				<img src="imgs/logo-uni-ulm.svg">
				<img src="imgs/logo-thu.svg">
			</div>
		</div>
	</div>


</div>

<div class="footer"></div>