<div class="inside-scroll-ribbon">

	<div class="scroll-element full-screen" data-anchor="home">
		<div class="h-ribbon">
			<div class="inside-scroll-element">
				<div class="section-label">Computational Science and Engineering</div>
				<div class="logo-park">
					<img src="imgs/logo-uni-ulm.svg">
					<img src="imgs/logo-thu.svg">
				</div>
			</div>
		</div>

		<div class="inside-scroll-element">
			<div class="headline" style="margin-top: 280px;">
				<h1>Wie kann ein Computer</h1>
				<h1>eine Pandemie vorhersehen?</h1>
			</div>
		</div>
	</div>

	<div class="scroll-element" data-anchor="intro" style="margin-top: -210px; margin-bottom: 200px;">

		<div class="inside-scroll-element">
			<div class="scroll-col two-cols">
				<div class="scroll-element-content intro">
					<p>
						Sie möchten Ingenieur/in werden und Probleme in den Naturwissenschaften, der Medizin oder den Wirtschaftswissenschaften mit Hilfe von Mathematik und Informatik lösen? Denn genau dies wird im Studiengang Computational Science and Engineering (CSE) gemacht.
					</p>
					<p>
						In vielen Bereichen vernetzen sich die technische und die digitale Welt immer mehr. Um diese komplexen Strukturen überblicken zu können und da die Durchführung von analogen Experimenten oftmals zu teuer oder nicht möglich ist, entstehen innovative Produkte immer häufiger mit Hilfe ausgeklügelter Rechnersysteme, mathematischer Modellierung und Simulation.
					</p>
				</div>
			</div>
		</div>
	</div>


	<div class="scroll-element hidden" data-anchor="mathematics" style="padding-bottom: 300px;">
		<div class="inside-scroll-element">
			<div class="scroll-col">
				<div class="scroll-element-content" data-scrollto="SIR">
					<div class="circle-wrapper"><div class="circle"></div></div>
					<div class="icon"><img src="imgs/icons/math.svg"></div>
					<div class="line"></div>

					<div class="section-label">Mathematik</div>
					<div class="text-box">
						<p>
							Fundierte Grundlagen in der Mathematik sind notwendig um die komplexen Berechnungen aus Industrie und Wissenschaft zu verstehen. Zusätzlich braucht es Kompetenz in der Numerik um die Rechnungen exakt durchführen zu können.
						</p>
						<div class="more">
							<svg width="80" height="25">
								<path d="M79,0.75 L40,24.25 L1,0.75" fill="transparent" stroke="#000000" stroke-width="1"/>
							</svg><br>
							mehr erfahren
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="scroll-element hidden" data-anchor="computer-science" style="padding-bottom: 300px;">
		<div class="inside-scroll-element">
			<div class="scroll-col"></div>
			<div class="scroll-col">
				<div class="scroll-element-content" data-scrollto="cell-auto">
					<div class="circle-wrapper"><div class="circle"></div></div>
					<div class="icon"><img src="imgs/icons/computer.svg" width="35"></div>
					<div class="line"></div>

					<div class="section-label">Informatik</div>
					<div class="text-box">
						<p>
							Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. 
						</p>
						<div class="more">
							<svg width="80" height="25">
								<path d="M79,0.75 L40,24.25 L1,0.75" fill="transparent" stroke="#000000" stroke-width="1"/>
							</svg><br>
							mehr erfahren
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="scroll-element hidden" data-anchor="engineering" style="padding-bottom: 300px;">
		<div class="inside-scroll-element">
			<div class="scroll-col"></div>
			<div class="scroll-col"></div>
			<div class="scroll-col">
				<div class="scroll-element-content" data-scrollto="real-data">
					<div class="circle-wrapper"><div class="circle"></div></div>
					<div class="icon"><img src="imgs/icons/engineering.svg"></div>
					<div class="section-label">Ingenieur- und Naturwissenschaften</div>
					<div class="text-box">
						<p>
							Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam. 
						</p>
						<div class="more">
							<svg width="80" height="25">
								<path d="M79,0.75 L40,24.25 L1,0.75" fill="transparent" stroke="#000000" stroke-width="1"/>
							</svg><br>
							mehr erfahren
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="scroll-element footer-anchor full-screen" data-anchor="footer" style="padding-bottom: 300px;">
		<div class="inside-scroll-element">
			<div class="scroll-col mathematics"></div>
			<div class="scroll-col computer-science"></div>
			<div class="scroll-col engineering"></div>
		</div>
	</div>


	<div class="scroll-element push-next" data-anchor="SIR">
		<div class="inside-scroll-element">
			<div class="scroll-col"></div>

			<div class="scroll-col">
				<h2>Das SIR-Modell</h2>
				<div class="scroll-element-content">
					<p>
						Das SIR-Modell ist eine einfache Art eine Epidemie zu modelieren. Dabei wird eine Population in drei Gruppen unterteilt:
					</p>
					<ul>
						<li>die (noch) Gesunden (<strong>S</strong>usceptible)</li>
						<li>die Infizierten (<strong>I</strong>nfected)</li>
						<li>die Genesenen (<strong>R</strong>esistant) und Immunen</li>
					</ul>
					<p>
						Das Modell wird durch Differenzengleichungen definiert. Diese Gleichungen sind diskrete Rechenvorschriften, womit die Werte für den neuen Schritt <span class="formula">k+1</span> aus den Werten des aktuellen Schrittes <span class="formula">k</span> berechnet werden. Die berechneten Werte sind in diesem Falle der prozentuale Anteil der Population in den einzelnen Gruppen beschrieben durch eine Zahl zwischen <span class="formula">o</span> und <span class="formula">1</span>. Für das SIR-Modell sehen die Differenzengleichungen wie folgt aus:
					</p>
					<table class="formula">
						<tr>
							<td>S<sub>k+1</sub></td>
							<td>=</td>
							<td>S<sub>k</sub></td>
							<td> &minus; &alpha;&#8729;S<sub>k</sub>&#8729;I<sub>k</sub></td>
						</tr>
						<tr>
							<td>I<sub>k+1</sub></td>
							<td>=</td>
							<td>I<sub>k</sub></td>
							<td>+ &alpha;&#8729;S<sub>k</sub>&#8729;I<sub>k</sub></td>
							<td> &minus; &beta;&#8729;I<sub>k</sub></td>
						</tr>
						<tr>
							<td>R<sub>k+1</sub></td>
							<td>=</td>
							<td>R<sub>k</sub></td>
							<td></td>
							<td>+ &beta;&#8729;I<sub>k</sub></td>
						</tr>
					</table>
					<p>
						Dabei sind <span class="formula">&alpha;</span> und <span class="formula">&beta;</span> konstante Modellparameter. Diese unterscheiden sich von Epidemie zu Epidemie und beschreiben spezifische Eigenschaften des Viruses, der Krankheit oder auch der Population. In diesem einfachen Fall sind das:
					</p>
					<h3>Die Infektionsrate <span class="formula">&alpha;</span></h3>
					<p>
						Trifft jeder Gesunde auf jeden Infizierten, so sind dies <span class="formula">S<sub>k</sub>&#8729;I<sub>k</sub></span> Kontakte. Wenn bei all diesen Kontakten prozentual <span class="formula">&alpha;</span> Infektionen geschehen, so gibt es <span class="formula">&alpha;&#8729;S<sub>k</sub>&#8729;I<sub>k</sub></span> Neuinfektionen pro Zeitschritt.
					</p>
					<h3>Die Genesungsrate <span class="formula">&beta;</span></h3>
					<p>
						In jedem Zeitschritt genesen prozentual <span class="formula">&beta;</span> Infizierte, also werden in jedem Zeitschritt <span class="formula">&beta;&#8729;I<sub>k</sub></span> Infizierte gesund und damit immun.
					</p>
				</div>
			</div>

			<div class="scroll-col">
				<h2 class="hidden">&nbsp;</h2>
				<div class="scroll-element-content gray">
					<h3>Der Unterschied zu Differentialgleichungen</h3>
					<p>
						Das SIR-Modell oder auch andere mathematische Modelle sind oftmals durch ein Differential&shy;gleichungs&shy;system beschrieben. Dabei werden nicht diskrete Rechenschritte beschrieben sondern die Ableitung einer stetigen Funktion.
					</p>

					<h3>Ein einfaches Beispiel</h3>
					<p>
						Sei die Anzahl der Infizierten über die Zeit I(t) nur von den bereits Infizierten und einer Konstanten λ abhängig und sei die Ableitung wie folgt definiert:
					</p>
				</div>
			</div>
		</div>

	</div>


	<div class="scroll-element push-next" data-anchor="cell-auto">
		<div class="inside-scroll-element">
			
			<div class="scroll-col">
				<h2>Der zelluläre Automat</h2>
				<div class="scroll-element-content">
					<p>
						Im Automaten werden einzelne Individuen in einer definierten Umgebung simuliert. Dabei ist die Umgebung in n×m sechseckige Zellen unterteilt. Dadurch hat jede Zelle sechs Nachbarzellen und dabei sind die Zellen am Rand jeweils mit dem gegenüberliegenden Randzellen verknüpft. Jede Zelle kann maximal sechs unterschiedliche Individuen enthalten.
					</p>
					<p>
						Die Individuen können sich in ihre direkte Nachbarzelle fortbewegen:<br>
						<img src="imgs/cell_move.png" width="108">
					</p>
					<p>
						Enthält eine Zelle zwei oder mehr Individuen so werden diese zufällig im oder gegen den Uhrzeigersinn gedreht:<br>
						<img src="imgs/cell_rotate.png" width="156">
					</p>
					<p>
						Befindet sich ein gesundes Individuum mit einem Infizierter mit oder ohne Symptomen in einer Zelle so besteht die Wahrscheinlichkeit, dass sich der Gesunde ansteckt:<br>
						<img src="imgs/cell_infect.png" width="155">
					</p>
					<p>
						Für jeden Infizierten ohne Symptome besteht in jedem Zeitschritt die Wahrscheinlichkeit, dass die Krankheit ausbricht. Für jeden Infizierten mit Symptomen wiederum besteht die Wahrscheinlichkeit auf Genesung:<br>
						<img src="imgs/cell_heal.png" width="249">
					</p>
					<p>
						Bei Infizierten mit Symptomen ist die Krankheit ausgebrochen und diese bleiben stehen. Wird dadurch der Platz in einer Zelle für ein sich bewegendes Individuum besetzt, überspringt dieses die besetzte Zelle:<br>
						<img src="imgs/cell_jump.png" width="155">
					</p>
				</div>
			</div>

			<div class="scroll-col"></div>

			<div class="scroll-col"></div>
		</div>
	</div>

		
	<div class="scroll-element push-next" data-anchor="real-data">
		<div class="inside-scroll-element">
			
			<div class="scroll-col">
				<h2 class="hidden">&nbsp;</h2>
				<div class="scroll-element-content gray">
					<h3>Was ist ein Virus?</h3>
					<p>
						Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
					</p>
					<p>
						Lorem ipsum dolor sit amet, cons ectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
					</p>
				</div>
			</div>

			<div class="scroll-col">
				<h2>Validierung</h2>
				<div class="scroll-element-content">
					<p>
						Damit ein Model nicht nur virtuell bleibt, wird es durch reale Daten validiert. Dabei sind die Modellparameter wie die Infektions- oder Genesungswahrscheinlichkeit Eigenschaften der zu untersuchenden Krankheit. Diese werden aber nicht als Wahrscheinlichkeiten definiert sondern folgende Kennzahlen sind üblich:
					</p>

					<h3>Die Basisreproduktionszahl <span class="formula">R<sub>0</sub></span></h3>
					<p>
						Die Basisreproduktionszahl gibt an wieviele Individuen ein Infizierter ansteckt, wenn noch kein Anteil der Population immun gegen die Krankheit ist.
					</p>

					<h3>Die Inkubationszeit</h3>
					<p>
						Dies ist die Zeit von der Ansteckung bis zu den ersten Symptomen und Ausbruch der Krankheit.
					</p>

					<h3>Die Genesungszeit</h3>
					<p>
						Die Zeit bis der Körper genügend Antikörper produziert hat um das Virus abzuwehren. Die Antikörper verhindern auch eine Neuansteckung und der Körper ist damit immun gegen die Krankheit.
					</p>
				</div>
			</div>
		</div>
	</div>

	<div class="scroll-element" data-anchor="the-end">
		<div class="black-ribbon">
			<div class="inside-scroll-element">
				<h2>Mehr erfahren und CSE studieren?</h2>
				<p>
					Informieren Sie sich auf der Webseite<br>
					der technischen Hochschule Ulm:
				</p>
				<p>
					<a href="https://studium.hs-ulm.de/de/Seiten/Studiengang_CSE.aspx" target="_blank">
						https://studium.hs-ulm.de/de/Seiten/Studiengang_CSE.aspx
					</a>
				</p>
			</div>
		</div>
		<div class="white-ribbon">
			<div class="inside-scroll-element">
				<img src="imgs/logo-uni-ulm.svg" height="60" style="margin-right: 50px;">
				<img src="imgs/logo-thu.svg" height="60">
			</div>
		</div>
	</div>


</div>

<div class="footer"></div>