<div class="inside-scroll-ribbon">

	<div class="scroll-element dont-navigate start-screen" data-anchor="start">
		<div class="inside-scroll-element">

		</div>
	</div>

	<div class="scroll-element" data-anchor="headline">
		<div class="inside-scroll-element">
			<h1 style="display: none;">
				<span>SIR-Modell als zellulärer Automat</span>
			</h1>
		</div>
	</div>


	<div class="scroll-element" data-anchor="intro">
		<div class="inside-scroll-element">
			<h2>Einleitung</h2>
			<div class="scroll-element-content">
				<p>
					Diese Arbeit stellt eine Implementation des in <a href="https://www.sne-journal.org/benchmarks/c17" target="_blank">dieser Publikation</a> beschriebenen zellulären Automaten zu einem Susceptible-Infected-Recovered-Modell (SIR-Modell) vor. Es wird im Detail auf die beschriebenen Differenzengleichungen eingegangen und gezeigt wie die Infektions- und Genesungsrate durch Wahrscheinlichkeiten ersetzt werden können. Die Wahrscheinlichkeiten wiederum, werden dann im zellulären Automaten verwendet, welcher ähnliche Resultate zu den Differenzengleichungen liefert.
					In einem weiteren Schritt wird das Modell mit realen Daten zu Grippe-Erkrankungen in der Schweiz verglichen und es wird versucht anhand dieser Daten die Modellparameter zu bestimmen.
					Zum Schluss werden noch Quarantäne-Strategien vorgestellt um die Epidemie im zellulären Automaten zu verhindern.
				</p>
			</div>
		</div>
	</div>

	<div class="scroll-element" data-anchor="diffeq">
		<div class="inside-scroll-element">
			<h2>Das SIR-Modell</h2>
			<div class="scroll-element-content">
				<p>
					Die Epidemie einer Krankheit kann durch ein SIR-Modell beschrieben werden. Dabei wird eine Population der Größe <span class="formula">P</span> in drei Gruppen unterteilt. Die Anzahl der jeweiligen Gruppe im Zeitschritt <span class="formula">k</span> wird wie folgt bezeichnet:
				</p>
				<ul>
					<li><span class="formula">S<sub>k</sub></span>: Gesunde Individuen (<strong>S</strong>usceptible)</li>
					<li><span class="formula">I<sub>k</sub></span>: Infizierte Individuen (<strong>I</strong>nfected)</li>
					<li><span class="formula">R<sub>k</sub></span>: Immune Individuen (<strong>R</strong>esistant)</li>
				</ul>
				<p>
					Die Veränderung der Anzahl der einzelnen Gruppen im nächsten Zeitschritt <span class="formula">k+1</span> wird über das folgende Differenzengleichungssystem beschrieben:
				</p>
				<table class="formula">
					<tr>
						<td>S<sub>k+1</sub></td>
						<td>=</td>
						<td>S<sub>k</sub></td>
						<td> &minus; &gamma;&#8729;S<sub>k</sub>&#8729;I<sub>k</sub></td>
					</tr>
					<tr>
						<td>I<sub>k+1</sub></td>
						<td>=</td>
						<td>I<sub>k</sub></td>
						<td>+ &gamma;&#8729;S<sub>k</sub>&#8729;I<sub>k</sub></td>
						<td> &minus; &delta;&#8729;I<sub>k</sub></td>
					</tr>
					<tr>
						<td>R<sub>k+1</sub></td>
						<td>=</td>
						<td>R<sub>k</sub></td>
						<td></td>
						<td>+ &delta;&#8729;I<sub>k</sub></td>
					</tr>
				</table>
				<p>
					Dazu werden die folgenden Modellparameter benötigt:
				</p>
				<ul>
					<li>Die Infektionsrate <span class="formula">&gamma;</span>:<br>
						<span class="formula">S<sub>k</sub>&#8729;I<sub>k</sub></span> beschreibt die Anzahl aller möglichen Kontakte zwischen Gesunden und Infizierten. Wird dieser Wert mit der Infektionsrate <span class="formula">&gamma;</span> multipliziert, erhält man alle neu Infizierten pro Zeitschritt <span class="formula">k</span>.
					</li>
					<li>Die Genesungsrate <span class="formula">&delta;</span>:<br>
						In jedem Zeitschritt <span class="formula">k</span> genesen jeweils <span class="formula">&delta;&#8729;I<sub>k</sub></span> Individuuen.
					</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="scroll-element dont-navigate" data-anchor="diffeq-vs-probability">
		<div class="inside-scroll-element">
			<div class="scroll-element-content">
				<h3><span>Umrechnen in Wahrscheinlichkeiten</span></h3>
				<p>
					Um das Modell mit gleichen Parametern mit einem zellulären Automaten vergleichen zu können, müssen anstelle der Raten Wahrscheinlichkeiten benutzt werden:
				</p>
				<ul>
					<li>Sei <span class="formula">&alpha; &isin; (0,1)</span> die Infektionswahrscheinlichkeit bei Kontakt mit einem Infizierten und</li>
				</ul>
				<ul>
					<li>Sei <span class="formula">&beta; &isin; (0,1)</span> die Genesungswahrscheinlichkeit in einem Zeitschritt</li>
				</ul>
				<p>
					Also ist <span class="formula">(1 &minus; &alpha;)</span> die Wahrscheinlichkeit sich bei einem Kontakt <strong>nicht</strong> zu infizieren.
					Mit jedem weiteren Kontakt schwindet diese Wahrscheinlichkeit und wird erneut mit demselben Wert multipliziert (sofern der erste Kontakt <strong>unabhängig</strong> vom zweiten ist). Also ist <span class="formula">(1 &minus; &alpha;)<sup>C</sup></span> die Wahrscheinlichkeit sich bei <span class="formula">C</span> Kontakten nicht zu infizieren. Betrachtet man den Grenzwert
				</p>
				<p class="formula">
					lim<sub>C &rarr; &infin;</sub> (1 &minus; &alpha;)<sup>C</sup> = 0
				</p>
				<p>
					wird offensichtlich, dass wenn man unendlich viele Kontakte mit Infizierten hatte, die Wahrscheinlichkeit sich nicht zu infizieren gleich <span class="formula">0</span> sein wird. Oder betrachtet man wiederum die Negation, also die Wahrscheinlichkeit sich bei <span class="formula">C</span> Kontakten zu infizieren
				</p>
				<p class="formula">
					1 - (1 &minus; &alpha;)<sup>C</sup>
				</p>
				<p>so wird man sich für <span class="formula">C &rarr; &infin;</span> sicher irgendwann infizieren.
				</p>
				<p>
					Zusätzlich wird die Population im Automaten auf <span class="formula">N</span> Zellen aufgeteilt. Dies ergibt im Schnitt <span class="formula">I<sub>k</sub> / N</span> Infizierte pro Zelle. Kombiniert man dies mit der Rechnung oben, so ist die Wahrscheinlichkeit für ein Individuum sich im Zeitschritt <span class="formula">k</span> zu infizieren:
				</p>
				<p class="formula">
					1 - (1 &minus; &alpha;)<sup>I<sub>k</sub> / N</sup>
				</p>
				<p>
					Die Genesungswahrscheinlichkeit <span class="formula">&beta;</span> ist gleich der Genessungsrate <span class="formula">&delta;</span>, da beide jeweils für einen Zeitschritt <span class="formula">k</span> gelten und keinen weiteren Einflüssen unterliegen.
				</p>
				<p>
					Damit gilt für die Differenzengleichung mit Wahrscheinlichkeiten:
				</p>
				<table class="formula">
					<tr>
						<td>S<sub>k+1</sub></td>
						<td>=</td>
						<td>S<sub>k</sub></td>
						<td>
							&minus; S<sub>k</sub>&#8729;(1 &minus; (1 &minus; &alpha;)<sup>
								I<sub>k</sub>/N
							</sup>)
						</td>
					</tr>
					<tr>
						<td>I<sub>k+1</sub></td>
						<td>=</td>
						<td>I<sub>k</sub></td>
						<td>
							+ S<sub>k</sub>&#8729;(1 &minus;(1 &minus; &alpha;)<sup>
								I<sub>k</sub>/N
							</sup>)
						</td>
						<td> &minus; &beta;&#8729;I<sub>k</sub></td>
					</tr>
					<tr>
						<td>R<sub>k+1</sub></td>
						<td>=</td>
						<td>R<sub>k</sub></td>
						<td></td>
						<td>+ &beta;&#8729;I<sub>k</sub></td>
					</tr>
				</table>
				<!-- Evtl. noch Taylor um eine Formel zu erhalen wie von gamma auf alpha umgerechnet werden kann -->
			</div>
		</div>
	</div>

	<div class="scroll-element dont-navigate" data-anchor="diffeq-vs-probability-test">
		<div class="inside-scroll-element">
			<div class="scroll-element-content">
				<h3><span>Vergleich mit einem Zufalls&shy;automaten</span></h3>
				<p>
					Im Unterschied zu den Differenzengleichungen wird beim Automaten jedes Individuum in jedem Zeitschritt auf Infektion oder Genesung anhand einer <strong>gleichverteilten</strong> Zufallsvariable geprüft. Dafür werden die Individuen auf eine endliche Anzahl Zellen <span class="formula">N</span> in jedem Zeitschritt neu zufällig gleichverteilt. Wobei eine einzelne Zelle unendlich viele Individuen enthalten kann.
				</p>
				<p>
					In jedem Zeitschritt wird also für jedes gesunde Individuum für alle infizierten Individuen innerhalb der gleichen Zelle eine gleichverteilte Zufallsvariable bestimmt. Ist diese unterhalb der Infektionswahrscheinlichkeit <span class="formula">&alpha;</span>, so wird das Individuum infiziert.
				</p>
				<p>
					Zusätzlich wird auch für jedes infizierte Indiviuum eine gleichverteilte Zufallsvariable bestimmt und mit der Genesungswahrscheinlichkeit <span class="formula">&beta;</span> verglichen. Ist diese kleiner als <span class="formula">&beta;</span> so wird das Indiviuum wieder gesund und ist immun gegen den Erreger.
				</p>
				<p class="image-container">
					<img src="imgs/diff_vs_randomauto.png">
					Die Differenzengleichungen und der Zufallsautomat (implementiert in MATLAB) im Vergleich: 
					Die <em>gestrichelten</em> Linien zeigen das Resultat der Differenzengleichungen die <em>durchgezogenen</em> Linien zeigen das Resultat aus dem Zufallsautomaten. Es wurden folgende Modellparameter verwendet:
				</p>
				<table class="formula">
					<tr>
						<td>S<sub>0</sub></td>
						<td>=</td>
						<td>99'000</td>
						<td></td>
					</tr>
					<tr>
						<td>I<sub>0</sub></td>
						<td>=</td>
						<td>1'000</td>
						<td></td>
					</tr>
					<tr>
						<td>R<sub>0</sub></td>
						<td>=</td>
						<td>0</td>
						<td></td>
					</tr>
					<tr>
						<td>&alpha;</td>
						<td>=</td>
						<td>0.5</td>
						<td></td>
					</tr>
					<tr>
						<td>&beta;</td>
						<td>=</td>
						<td>0.1</td>
						<td></td>
					</tr>
					<tr>
						<td>N</td>
						<td>=</td>
						<td>40'000</td>
						<td>= 200 &#8729; 200</td>
					</tr>
				</table>
				<p class="image-container">
					Um ein exakteres Resultat zu erhalten wurde jeweils in Zehntel-Schritten gerechnet und dabei die Wahr&shy;scheinlich&shy;keiten durch Zehn geteilt. Die Simulation mit dem Automaten wurde nur einmal durchgeführt. Ein noch besseres Resultat könnte sicherlich durch mehrfaches Ausführen der Simulation mit unterschiedlichen Zufallszahlen erzielt werden.
				</p>
				<!-- Automat mit begrenzten Zellen -->
			</div>
		</div>
	</div>

	<div class="scroll-element" data-anchor="cellauto-env">
		<div class="inside-scroll-element">
			<h2>Der zelluläre Auto&shy;mat</h2>
			<div class="scroll-element-content">
				<h3><span>Der Raum</span></h3>
				<p>
					Der Automaten besteht aus <span class="formula">n&#10799;m</span> Zellen in Form von regelmäßigen Sechsecken. Die Zellen sind so angeordnet, dass jedes Sechseck sechs benachbarte Zellen besitzt. Die Zellen am Rand sind jeweils mit dem gegenüberliegenden Randzellen verknüpft, so entspricht dieser zweidimensionaler Raum einer Torus-Oberfläche. Jede Zelle kann bis zu maximal sechs unterschiedliche Individuen enthalten.
				</p>
			</div>
		</div>
	</div>

	<div class="scroll-element dont-navigate" data-anchor="cellauto-inviduals">
		<div class="inside-scroll-element">
			<div class="scroll-element-content">
				<h3><span>Die Individuen</span></h3>
				<p>
					Es gibt drei Arten von Individuen: Die Gesunden, die Infizierten und die Immunen. Alle Individuen egal welcher Art bewegen sich gleich. Solange es zu keiner Kollision kommt, bewegen sie sich stetig um ein Feld vorwärts. Dabei wir die Richtung stets beibehalten. Befinden sich mehr als ein Individuum auf einem Feld, kommt es zur Kollision und alle im Feld befindlichen Individuen werden um 60 Grad zufällig nach links oder rechts gedreht. 
				</p>
			</div>
		</div>
	</div>

	<div class="scroll-element dont-navigate" data-anchor="cellauto-sim">
		<div class="inside-scroll-element">
			<div class="scroll-element-content">
				<h3><span>Infizieren und Genesen</span></h3>
				<ul>
					<li><strong>Infektions</strong>wahrscheinlichkeit <span class="formula">&alpha;</span>:<br>
						Bei einer Kollision wird für jedes gesunde Individuum einer Zelle für alle infizierten Individuen der gleichen Zelle eine gleichverteilte Zufallsvariable bestimmt und mittels der Wahrscheinlichkeit <span class="formula">&alpha;</span> geprüft ob sich das Individuum ansteckt. Es kann also durchaus sein, dass sich ein Individuum innerhalb der gleichen Zelle ansteckt, ein Anderes aber nicht.
					</li>
					<li><strong>Genessungs</strong>wahrscheinlichkeit <span class="formula">&beta;</span>:<br>
						Für alle kranken Individuen besteht in jedem Zeitschritt die Wahrscheinlichkeit <span class="formula">&beta;</span> wieder zu genesen. Dabei wird für jedes Individuum in jedem Zeitschritt eine gleichverteilte Zufallsvariable bestimmt.
					</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="scroll-element dont-navigate" data-anchor="cellauto-big">
		<div class="inside-scroll-element">
			<div class="scroll-element-content">
				<h3><span>Vergleich zum SIR-Modell</span></h3>
				<p>
					Betrachten wir nun einen zellulären Automaten mit einer wie bereits im Zufallsautomaten verwendeten Population von <span class="formula">P = 100'000</span> und vergleichen das Resultat mit dem der Differenzen&shy;gleichungen. Wiederum werden die Wahr&shy;scheinlich&shy;keiten durch Zehn geteilt und Zehnmal mehr Schritte berechnet um ein exakteres Resultat zu erhalten.
				</p>
				<p>
					Gut zu erkennen ist, dass im Automaten die Anzahl der Infizierten weniger schnell wachsen. Durch die Bewegungsregeln des zellulären Automaten sind die Individuen nicht mehr über alle Zellen gleichverteilt. Es kommt zu lokalen Häufungen, wobei jeweils in einer Zelle nie mehr als sechs Individuen sein können. Dadurch ist auch die maximale Wahrscheinlichkeit für eine Infektion durch
				</p>
				<p class="formula">1 - (1 &minus; &alpha;)<sup>6</sup></p>
				<p>
					begrenzt. Somit kann sich eine Infektion nicht so schnell ausbreiten, wie dies bei den Differenzengleichungen der Fall ist. Diese Effekte sind umso verheerender wenn sich wenige Infizierte im Automaten befinden.
				</p>
				<!-- TODO: was ist wenn der Automat dichter besetzt ist? -->
			</div>
		</div>
	</div>

	<div class="scroll-element" data-anchor="influenza">
		<div class="inside-scroll-element">
			<h2>Saisonale Grippe – Lagebericht Schweiz</h2>
			<div class="scroll-element-content">
				<p>
					Das <a href="https://www.bag.admin.ch/bag/de/home/krankheiten/ausbrueche-epidemien-pandemien/aktuelle-ausbrueche-epidemien/saisonale-grippe---lagebericht-schweiz.html" target="_blank">Schweizer Bundesamt für Gesundheit BAG</a> veröffentlicht wöchentlich Daten zu gemeldeten grippeähnlicher Erkrankungen innerhalb der Schweiz. Diese werden über ein flächendeckendes <a href="http://www.sentinella.ch/de/info" target="_blank">Meldesystem</a> mit bis zu 250 Arztpraxen gemeldet. Die gemeldeten Fälle werden zu einer Inzidenz pro 100'000 Einwohnern hochgerechnet.
				</p>
				<p>
					Im weiteren wurde versucht die Modelparameter <span class="formula">&alpha;</span> und <span class="formula">&beta;</span> bei festem <span class="formula">N = 40'000 = 200 &#8729; 200</span> auf die realen Daten anzupassen. Dabei wurde im Model mit einem Zeitschritt von einem Tag und einer Auflösung von einem Zehntel gerechnet. Variiert wurden die Modelparameter <span class="formula">&alpha;</span> und <span class="formula">&beta;</span> sowie der Startpunkt der realen Daten. 
					Als Startpunkt kamen nur die Wochen vor der Epidemie in Frage, welche unter dem, von der BAG angegebenen, Schwellwert von 69 Fällen lagen.
					Als Anfangswert für die Infizierten <span class="formula">I<sub>0</sub></span> wurde der jeweilige Wochenwert übernommen. Für beide Perioden wurde der quadratische Fehler über 30 Wochen minimiert. Das Bestimmen der Parameter wurde in MATLAB realisiert.
				</p>
				<br>
				<h3><span>Grippesaison 2017/2018</span></h3>
				<p class="image-container">
					<img src="imgs/fit_1718.png">
					Der ideale Startpunkt liegt etwas vor dem Übertreten des Schwellwertes. So wird der Anstieg der Epidemie etwas zu früh geschätzt. Auch werden die zwei Messspitzen durch das Model nicht erreicht. Inwiefern diese Schwankung in der Spitze von fast 60 Fällen das Model verfälschen ist nicht abzuschätzen. Das Abklingen der Epidemie wiederum scheint besser zu passen. Folgende Parameter wurden ermittelt:
				</p>
				<table class="formula">
					<tr>
						<td>&alpha;</td>
						<td>=</td>
						<td>0.241</td>
						<td></td>
					</tr>
					<tr>
						<td>&beta;</td>
						<td>=</td>
						<td>0.563</td>
						<td></td>
					</tr>
					<tr>
						<td>Startpunkt</td>
						<td>=</td>
						<td>Woche 44</td>
						<td>(des Jahres 2017)</td>
					</tr>
					<tr>
						<td>I<sub>0</sub></td>
						<td>=</td>
						<td>17.42</td>
						<td></td>
					</tr>
					<tr>
						<td>Total Infizierte</td>
						<td>=</td>
						<td>15'085</td>
						<td>(nach 30 Wochen)</td>
				</table>
				<br>

				<h3><span>Grippesaison 2018/2019</span></h3>
				<p class="image-container">
					<img src="imgs/fit_1819.png">
					Startpunkt ist die Woche bevor der Schwellenwert von 69 Fällen überschritten wird. Anstiegt sowie Fall der Epidemie wird gut durch das Modell abgebildet. Die ermittelten Werte sind wie folgt:
				</p>
				<table class="formula">
					<tr>
						<td>&alpha;</td>
						<td>=</td>
						<td>0.381</td>
						<td></td>
					</tr>
					<tr>
						<td>&beta;</td>
						<td>=</td>
						<td>0.906</td>
						<td></td>
					</tr>
					<tr>
						<td>Startpunkt</td>
						<td>=</td>
						<td>Woche 63</td>
						<td>(des Jahres 2018)</td>
					</tr>
					<tr>
						<td>I<sub>0</sub></td>
						<td>=</td>
						<td>66.71</td>
						<td></td>
					</tr>
					<tr>
						<td>Total Infizierte</td>
						<td>=</td>
						<td>13'897</td>
						<td>(nach 30 Wochen)</td>
				</table>
				<p>
					Überraschend ist die hohe Genesungswahrscheinlichkeit. Dieser Wert würde bedeuten, dass ein Infizierter mit einer sehr hohen Wahrscheinlichkeit nur nach einem Tag schon wieder genesen würde.
				</p>
				<br>
				<p>
					<em>Leider funktioniert der Vergleich mit dem zellulären Automaten nicht! Denn dieser liefert nur in etwa vergleichbare Resultate, wenn mit einer sehr viel größeren Anzahl von Infizierten gerechnet werden kann.</em>
				</p>
			</div>
		</div>
	</div>

	<div class="scroll-element" data-anchor="intervention">
		<div class="inside-scroll-element">
			<h2>Quarantäne Strategien</h2>
			<div class="scroll-element-content">
				<p>
					Eine Epidemie kann am besten bekämpft werden, indem die Infizierten in Quarantäne gesteckt werden. Also muss zwischen Infizierten und Gesunden eine harte Grenze gezogen werden. Im zellulären Automaten wurde dies über undurchdringbare Wände realisiert. Wenn ein Individuum auf eine Wand trifft, dreht es sich um 180 Grad, denn dieser Platz im System ist sicher frei, da durch die Wand niemand kommen kann. Beim Erstellen einer Wandzelle werden die Individuen dieser Zelle auf zufällige benachbarte Zellen verteilt.
				</p>
				<p>
					Wie zu erwarten werden durch die Quarantäne-Zone die Individuen außerhalb der Zone gerettet und ein Ausbreiten der Epidemie auf die gesamte Population konnte vermieden werden.
				</p>
			</div>
		</div>
	</div>

	<div class="scroll-element dont-navigate" data-anchor="intervention-obstacles">
		<div class="inside-scroll-element">
			<div class="scroll-element-content">
				<h3><span>Hindernisse</span></h3>
				<p>
					Indem die Umgebung mit einem möglichst langen Rand umschlossen wird, kann die Epidemie zwar nicht aufgehalten aber verzögert werden. So ist die gesamte Population auch nach 100 Zeitschritten noch nicht komplett infiziert.
				</p>
			</div>
		</div>
	</div>

	<div class="scroll-element dont-navigate" data-anchor="intervention-passage">
		<div class="inside-scroll-element">
			<div class="scroll-element-content">
				<h3><span>Zellen mit Durchgang</span></h3>
				<p>
					Sobald die Quarantäne-Zonen auch nur einen kleinen Durchgang erlauben, wird zwar verzögert aber trotzdem die komplette Population infiziert. Möglicherweise hätte eine solche Zellen-Strategie Erfolg bei einem sehr viel größeren Feld.
				</p>
			</div>
		</div>
	</div>

	<div class="scroll-element" data-anchor="conclusion">
		<div class="inside-scroll-element">
			<h2>Fazit</h2>
			<div class="scroll-element-content">
				<p>
					Der Zufallsautomat bildet die Differenzengleichungen sehr gut nach. Für beste Resultate muss wohl nur genug oft simuliert werden. Die Infizierten im zellulären Automaten wachsen etwas langsamer, was mit der beschränkten Zellgröße sowie den Häufungen durch die Bewegungsregeln zusammenhängt. Zudem liefert der Automat sowie die Differenzengleichungen erst wirklich brauchbare Resultate, wenn bloß in Zehntel oder sogar Hundertstel Schritten gerechnet wird.
				</p>
				<p>
					Teilweise kam es beim Rechnen in JavaScript zu Auslöschungen. Die Gesamtpopulation <span class="formula">P<sub>k</sub> = S<sub>k</sub> + I<sub>k</sub> + R<sub>k</sub></span> wurde in bestimmten Fällen immer kleiner. Behoben wurde das Problem, indem in jedem Rechenschritt die Fehlerdifferenz wieder addiert wird. Ein großer Vorteil bieten hier natürlich die Automaten. Indem jedes Individuum als Entität abgebildet wird, kann es nie zu Auslöschungen kommen.
				</p>
				<p>
					Das Bestimmen der Modellparametern anhand realer Daten mittels der Differenzen&shy;gleichungen hat überraschend gut auch bei solch kleinen Mengen an Infizierten geklappt. Umso enttäuschender war aber der Versuch mit dem zellulären Automaten. Dieser liefert wirklich nur vergleichbare Resultate, wenn auch eine gewisse Menge an Infizierten im System enthalten sind.
				</p>
				<p>
					Das Erstellen einer Quarantäne-Zone kann Individuen vor der Epidemie schützen, aber nur wenn die Zone auch wirklich komplett dicht abgeschottet wird. Wird auch nur ein winziger Durchgang offengelassen, kommt es zur Kontaminierung der gesamten Population.
				</p>
			</div>
		</div>
	</div>

	<div class="scroll-element dont-navigate" data-anchor="epilog">
		<div class="inside-scroll-element">
			<div class="scroll-element-content">
				<p>
					Text und Umsetzung von <a href="http://www.oxid.ch/" target="_blank">Ruedi Lüthi</a>
				</p>
			</div>
		</div>
	</div>

</div>