body, html {
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}

.mobile-only {
	display: none;
}
body.mobile .mobile-only {
	display: block;
}
body.mobile .desktop-only {
	display: none;
}

body.mobile #wrapper {
	overflow: hidden;
}

.loading-overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    /*background: url("../imgs/loading_back.png") repeat 0px 0px transparent;*/
    background: rgba(238, 238, 238, 0.9);
}
.simplot .loading-overlay {
	position: absolute;
}

#infographic {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    /*max-width: 900px;*/
}

.scroll-ribbon {
	width: 100%;
}

.h-ribbon, .footer {
	width: 100%;
	background: #FFFFFF;
	height: 70px;
	float: left;
}
body.mobile .h-ribbon {
	height: 100px;
	position: relative;
}
.footer.below {
	height: 90px;
}
.footer.above {
	border-bottom: 1px solid #b7b7b7;
}
.black-ribbon {
	width: 100%;
	background: #555555;
	color: #FFFFFF;
	padding: 100px 0px;
	float: left;
}
.white-ribbon {
	width: 100%;
	padding: 20px 0px;
	background: #FFFFFF;
	float: left;
}


.copy-wrapper {
	width: 100%;
	float: left;
	position: relative;
}

.scroll-element {
	width: 100%;
	float: left;
	position: relative;
	pointer-events: none;
}
.scroll-element.do-events,
.scroll-element-content.do-events {
	pointer-events: auto;
}

.hidden-content {
	display: none;
}

.copy-wrapper .scroll-element.hanged {
	position: absolute;
	top: 0px;
	left: 0px;
}
.copy-wrapper .scroll-element.hanged.fixed {
	position: fixed;
	top: -20px;
}
body.mobile .copy-wrapper .scroll-element.hanged {
	position: relative;
	background: #EEEEEE;
	margin-bottom: 0px !important;
}
body.mobile .copy-wrapper .scroll-element.hanged.computer-science-anchor {
	margin-bottom: 120px !important;
}
body.mobile .copy-wrapper .scroll-element.hanged.engineering-anchor {
	margin-top: 150px;
}

body.edit-content .scroll-element,
body.mobile .scroll-element,
.scroll-element.footer-anchor {
	pointer-events: auto;
}
.scroll-element.footer-anchor.full-screen {
	pointer-events: none;
}
.scroll-element.footer-anchor.full-screen.on-screen {
	pointer-events: auto;
}
body.mobile .scroll-element.push-next {
	padding-top: 50px;
}

.scroll-element .inside-scroll-element,
.footer .inside-scroll-element,
.background .content {
	margin: 0px auto;
	width: 1008px;
	position: relative;
	clear: both;
}
.black-ribbon .inside-scroll-element,
.white-ribbon .inside-scroll-element {
	width: 600px;
}

body.medium .scroll-element .inside-scroll-element,
body.medium .footer .inside-scroll-element,
body.medium .background .content {
	width: 100%;
}

body.mobile .black-ribbon .inside-scroll-element {
	padding: 12px;
}

.scroll-col {
	width: 330px;
	min-height: 10px;
	float: left;
	margin-right: 8px;
	position: relative;
}
.content > .scroll-col {
	background: rgba(238, 238, 238, 0.9);
	padding: 5px;
}
body.medium .scroll-col {
	width: 100%;
	margin-right: 0px;
}

.scroll-col:last-child {
	margin-right: 0px;
}

.scroll-col.two-cols {
	width: 680px;
}
.scroll-col.three-cols {
	width: 100%;
}

.hanged .scroll-col {
	margin-top: 300px;
}
body.mobile .hanged .scroll-col {
	margin-top: 0px;
}
/*
body.mobile .hanged .scroll-col.with-content {
	margin-top: 150px;
}
*/

.scroll-element-content.gray {
	background: #e2e2e2;
	color: #555555;
}

.scroll-element .scroll-col > h2,
.scroll-element .scroll-col > .scroll-element-content {
	float: left;

	padding: 8px;

	background: #FFFFFF;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);

	margin-bottom: 8px;
}
body.mobile .scroll-element .scroll-col > .scroll-element-content {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;

	margin-bottom: 100px;

	padding: 12px;
}
body.mobile .scroll-element .scroll-col > .scroll-element-content.no-margin {
	margin-bottom: 0px;
}

.scroll-element.hanged .scroll-col > .scroll-element-content {
	background: transparent;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}


.scroll-element .scroll-col > .scroll-element-content.gray {
	background: #d6d6d6;

	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}



/* TYPO */
body {
    font-family: 'Merriweather', serif;
    color: #000000;
    font-size: 12px;
    line-height: 18px;
    background: #EEEEEE;
    font-weight: 400;
}

strong {
	font-weight: 700;
}

.small {
	font-size: 12px;
}

a {
	color: #1eb3cc;
	text-decoration: underline;
}

h1 {
	font-family: 'Merriweather', serif;
    font-style: italic;
    font-weight: bold;
    font-size: 56px;
    padding: 5px;
    line-height: 56px;
    color: #000000;
    background: #FFFFFF;
}
body.mobile h1 {
	font-size: 26px;
	line-height: 26px;
	padding: 2px 8px;
}

h2 {
    font-family: 'Merriweather', serif;
    font-style: italic;
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
    color: #000000;
}
.black-ribbon h2 {
	color: #FFFFFF;
	font-size: 24px;
	line-height: 24px;
	margin-bottom: 10px;
	font-weight: 400;
}
body.mobile h2 {
	font-size: 26px;
	line-height: 32px;
}

h3 {
	font-family: 'Merriweather', serif;
    font-style: italic;
    font-weight: 700;
    text-decoration: underline;
    margin-bottom: 5px;
}

p, ul, table {
	margin-bottom: 20px;
}
p:last-child/*, ul:last-child, table:last-child*/ {
	margin-bottom: 0px;
}
.black-ribbon p {
	font-size: 16px;
	line-height: 24px;
	font-style: italic;
	margin-bottom: 10px;
}

ul li {
    padding-left: 20px;
    margin-bottom: 10px;
}

table.formula {
	margin-left: 20px;
}

ul li:before {
    content: '\2022';
    float: left;
    margin-left: -0.7em;
}

.formula {
    font-size: 14px;
    line-height: 18px;
    font-family: 'Roboto Condensed', sans-serif;
    color: #000000;
}
.gray .formula {
	color: #555555;
}
.equals {
	width: 20px;
	text-align: center;
}
.right {
	text-align: right;
}

p.formula {
	padding: 0px 20px;
	margin-bottom: 20px !important;
}

.code {
	font-size: 13px;
    line-height: 18px;
    font-family: 'Roboto Mono', monospace;
    color: #000000;
}
td.code {
	padding-right: 20px;
}
.code .comment {
	color: #bbbbbb;
}
.code .highlight {
	color: #794ad6;
}

span.quad {
    display: inline-block;
    width: 15px;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}
sup {
    top: -0.5em;
}

table.glossary td {
	padding-bottom: 10px;
}

.section-label {
	font-size: 24px;
    line-height: 26px;
    font-family: 'Roboto Condensed', sans-serif;
    color: #000000;
    font-weight: 300;
}
body.mobile .section-label{
	font-size: 18px;
    display: block;
    height: auto;
    width: 100%;
    padding: 20px 0px 10px 0px;
}

.scroll-element .scroll-col > .scroll-element-content.intro {
	padding: 12px;
}
.scroll-element .scroll-col > .scroll-element-content.intro p {
	font-style: italic;
	font-size: 16px;
	line-height: 24px;
}
body.mobile .scroll-element .scroll-col > .scroll-element-content.intro p {
	font-size: 14px;
	line-height: 20px;
}
body.mobile .scroll-element .scroll-col > .scroll-element-content.intro {
	margin-bottom: 300px;
}

.headline h1 {
	float: left;
	margin-bottom: 8px;
}
body.mobile .headline h1 {
	margin-bottom: 4px;
}
.headline.cse-is {
	position: absolute;
	top: 0px;
	left: 0px;
}
/*
body.mobile .headline.cse-is {
	width: 100%;
}
*/
.headline.cse-is h1 {
	margin-top: 150px;
} 

body.mobile .headline.cse-is h1 {
	margin-top: -130px;
}

.scroll-element.footer-anchor.full-screen.above .headline {
	visibility: hidden;
}

.more {
	text-align: center;
	font-size: 12px;
    line-height: 24px;
    font-family: 'Roboto Condensed', sans-serif;
    color: #000000;
}
.hanged .more {
	display: none;
}


/* MENU AND FOOTER */
.hidden {
	visibility: hidden;
}
body.mobile .scroll-element.hidden {
	display: none;
}

.footer {
	position: fixed;
	left: 0px;
	display: none;
}
.footer.above {
	top: 0px;
	display: block;
}
.footer.below {
	bottom: 0px;
	display: block;
	background: none;
}
.footer-anchor.below {
	visibility: hidden;
}
.footer.footer-anchor {
	visibility: visible !important;
}

.section-label {
	height: 70px;
    vertical-align: middle;
    display: table-cell;
    text-align: center;
}
body.mobile .h-ribbon .section-label {
	width: 100%;
	display: block;
	padding: 10px 0px;
	height: auto;
}
.logo-park {
	position: absolute;
	right: 0px;
	top: 10px;
}
.logo-park img {
	height: 45px;
	margin-left: 40px;
}

body.mobile .logo-park {
	width: 230px;
    right: auto;
    left: 50%;
    top: 51px;
    margin-left: -118px;
}
body.mobile .logo-park img {
	margin-left: 10px;
	height: 30px;
}

.logo-park-footer img {
	height: 60px;
}
.logo-park-footer img:first-child {
	margin-right: 50px;
}
body.medium .logo-park-footer img:first-child {
	margin-left: 20px;
}
body.mobile .logo-park-footer img {
	height: 30px;
}


.more {
	position: absolute;
	top: 210px;
	left: 0px;
	width: 100%;
}

.footer-anchor .section-label,
.hanged .section-label {
	width: 320px;
}


.footer-anchor .section-label {
	height: 74px;
}
.footer.above .section-label {
	height: 52px;
}
body.mobile .footer-anchor .section-label {
	overflow: hidden;
    display: block;
    height: 20px;
    visibility: hidden;
}

.footer-anchor .text-box  {
	margin-top: 10px;
	display: none;
	float: left;
	height: 0px;
	overflow: hidden;
	position: relative;
}
.footer.above .text-box {
	margin-top: 30px;
}

.footer-anchor .scroll-col {
	height: 90px;
}
body.medium .footer-anchor .scroll-col {
	width: 33.333%;
}

.footer-anchor .scroll-element-content {
	position: absolute;
	top: 0px;
	margin-bottom: 0px !important;
	width: 100%;
	cursor: pointer;
}
.footer-anchor .scroll-element-content p {
	padding: 0px 8px;
}

.footer.below .scroll-element-content {
	bottom: 0px;
	top: auto;
}
body.mobile .footer.below .scroll-element-content {
	width: 100%;
	height: 30px;
	-webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.footer.above .section-label {
	text-align: left;
	padding-left: 50px;
}


.footer-anchor .circle-wrapper {
	position: absolute;
	overflow: hidden;
	left: 50%;
	width: 136px;
    height: 57px;
    margin-left: -68px;
    top: -57px;
}
.footer-anchor .circle-wrapper .circle {
	width: 116px;
	height: 116px;
	margin: 10px;
	background: #FFFFFF;

	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;

	-webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
}
.footer.above .circle {
	display: none;
}

.footer-anchor .line {
	position: absolute;
	width: 1px;
	height: 69px;
	top: 0px;
	right: -4px;
	background: #eeeeee;
	display: none;
}
.footer.above .line {
	display: block;
	z-index: 1;
}

.footer-anchor .icon,
.hanged .icon {
	position: absolute;
	width: 36px;
	margin-left: -19px;
	left: 50%;
	top: -20px;
}
.footer-anchor .icon img,
.hanged .icon img {
	width: 100%;
}

.footer.above .icon {
	left: 10px;
    top: 17px;
	margin-left: 0px;
}
body.mobile .footer.above .icon {
	left: 50%;
	margin-left: -19px;
}


.scroll-element.footer.above .scroll-element-content {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.scroll-element.footer.above .scroll-element-content:hover {
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
}
.scroll-element.footer.above .scroll-col.active .scroll-element-content:hover,
body.mobile .scroll-element.footer.above .scroll-element-content:hover {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}


/* active menu */
.footer.above .scroll-col.active .scroll-element-content {
	background: #EEEEEE;
	margin-top: 5px;
	border-top: 1px solid #b7b7b7;
	border-left: 1px solid #b7b7b7;
	border-right: 1px solid #b7b7b7;
	overflow: hidden;
    height: 65px;
}
.footer.above .scroll-col.active .scroll-element-content .line {
	top: -5px;
}
.footer.above .scroll-col.active .scroll-element-content .icon {
	top: 12px;
}
.footer.above .scroll-col.active .scroll-element-content .section-label {
	height: 44px;
}


/* BACKGROUND */

.background {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
}

.background .fullscreen {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	text-align: center;
}

.background .fullscreen img {
	height: 100%;
	width: auto;
}

.background .fullscreen .gamemap,
.background .fullscreen .trussmap {
	position: absolute;
    left: 50%;
    margin-left: -175px;
    /*top: 55px;*/
}
body.mobile .background .fullscreen .gamemap {
	margin-left: 0px;
	left: 0px;
}

.background .fullscreen .gamemap img {
	display: none;
}

.dummy-cell-auto {
	width: 100%;
	height: 100%;
	background: url("../imgs/cell-auto-back.png") repeat;
}
.dummy-cell-auto-scaled {
	width: 100%;
	height: 100%;
	background: url("../imgs/cell-auto-back@2x.png") repeat;

}
.simulation-back {
	width: 100%;
	height: 100%;
	position: relative;
}
.simulation-back img {
	position: absolute;
	top: 0px;
	left: 50%;
	margin-left: -175px;
}


/******************* DIAGRAMS & SLIDERS **************************/

.simplot, .areaplot {
	font-family: 'Roboto Condensed', sans-serif;
    font-size: 14px;
    line-height: 18px;
    text-align: left;
}
.simplot {
	margin-top: 80px;
	position: relative;
	float: left;
	width: 100%;
}
body.mobile .simplot {
	margin-top: 0px;
	margin-bottom: 100px;
	padding: 12px;
	background: rgba(238, 238, 238, 0.9);
}
body.mobile .areaplot .simplot {
	margin-bottom: 0px;
}
body.mobile .areaplot {
	float: left;
	margin-bottom: 250px;
}

.simplot .loading-overlay {
	display: none;
}

.simplot h4, .areaplot h4 {
	font-size: 16px;
    line-height: 18px;
    font-weight: 700;
    margin-bottom: 10px;
}

.tabs-wrapper {
	width: 100%;
	float: left;
	position: relative;
}
body.mobile .tabs-wrapper {
	background: rgba(238, 238, 238, 0.9);
}

.tabs-header {
	position: absolute;
	top: 0px;
	left: 0px;
}
.tabs-header .tab {
	float: left;
	font-weight: 700;
	padding: 5px 8px;
	height: 30px;
	cursor: pointer;
	border: 1px solid transparent;
}
.tabs-header .tab.active {
	background: #FFFFFF;
	border: 1px solid #d4d4d4;
	border-bottom: 1px solid #FFFFFF;
}

.plot-container.tabs-content {
	width: 100%;
	float: left;
	background: #FFFFFF;
	border: 1px solid #d4d4d4;
	padding: 5px;
	margin-top: 29px;
}
body.mobile .plot-container.tabs-content {
	padding: 10px;
}

/* SLIDER */

.slider-label {
	float: left;
	width: 100%;
	margin-top: 10px;
}

.v-slider {
    float: left;
    width: 100%;
    margin-bottom: 2px;
}


.v-slider .v-slider-title {
    width: 50%;
    height: 20px;
    display: block;
    float: left;
}

.v-slider .v-slider-container {
    width: 50%;
    height: 20px;
    display: block;
    float: left;
    position: relative;
}

.v-slider .v-slider-container .v-slider-back,
.v-slider .v-slider-container .v-slider-bar {
    height: 4px;
    position: absolute;
    top: 9px;
    left: 0px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.v-slider .v-slider-container .v-slider-back {
    background: #bbbbbb;
    width: 100%;
}

.v-slider .v-slider-dot {
    width: 40px;
    height: 20px;
    cursor: pointer;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.v-slider .v-slider-value {
    width: 100%;
    text-align: center;
    padding: 3px 0px;
    color: #FFFFFF;
    height: 20px;
    line-height: 1;
}

.plot-container {
	margin-top: 7px;
	float: left;
	width: 100%;
}

.plot-container .plot-wrapper svg {
	float: left;
}

.plot-container .legend,
.simplot .caption {
	float: left;
	margin-bottom: 3px;
	font-size: 12px;
}
.simplot .caption {
	margin-top: 10px;
}

.plot-container .legend .plot-legend {
	float: left;
	margin-right: 12px;
}
.plot-container .legend .plot-legend.last {
	margin-right: 0px;
}
.plot-container .legend .plot-legend svg {
	margin-right: 3px;
    margin-top: 3px;
    float: left;
}

.plot {
	width: 100%;
	float: left;
	overflow: hidden;
	display: block;
	position: relative;
}

.plot .summary {
	position: absolute;
	font-size: 12px;
	width: 100%;
	padding-right: 5px;
}

.plot .summary a {
	cursor: pointer;
}

.plot .summary a.hide {
	display: none;
}
.plot.open .summary .statistics {
	display: none;
}
.plot.open .summary,
.plot.open .summary a {
	color: #FFFFFF;
}
.plot.open .summary a.show {
	display: none;
}
.plot.open .summary a.hide {
	display: inline-block;
}



.plot.archived {
	border-bottom: 1px solid #bbbbbb;
	background: #cccccc;
}

.controls {
	float: left;
	margin-bottom: 5px;
	width: 100%;
}


.button {
	float: left;
	cursor: pointer;

	-webkit-border-radius: 27px;
	-moz-border-radius: 27px;
	border-radius: 27px;

	margin-right: 10px;

	height: 27px;
	overflow: hidden;
}
.button:hover {
	opacity: 0.8;
}
body.mobile .button {
	margin-right: 5px;
}

.button.play {
	background: #55c48f;
}
.button.stop {
	background: #e2005c;
}
.button.forward {
	background: #555555;
}
.button.restart {
	background: #fcd227;
	margin-right: 0px;
}

.button.disabled {
	background: #cccccc;
}
.button.disabled:hover {
	opacity: 1;
}

.button .label {
	float: left;
	padding: 4px 12px 0px 0px;
	color: #FFFFFF;
}

.button .icon {
	margin-left: 0px;
	margin-top: -3px;
	float: left;
	width: 33px;
	height: 33px;
	background: url("../imgs/buttons@2x.png") repeat 0px 0px transparent;
	background-size: 132px 33px;
}


.button.forward .icon {
	background-position: -33px 0px;
}
.button.stop .icon {
	background-position: -66px 0px;
}
.button.restart .icon {
	background-position: -99px 0px;
}